{{#partial "content"}}
<h1>Edit Team</h1>
<form action='/team/{{editTeam.memberId}}/edit' method="post">
    <div class="form-group">
        <label for="name">Team Name</label>
        <input id="name" name="name" class="form-control" type="text" value="{{editTeam.name}}">
    </div>
    <div class="form-group">
        <label for="description">Team description</label>
        <input id="description" name="description" class="form-control" type="text" value="{{editTeam.description}}">
    </div>
    <div class="form-group">
        <label for="first">First Name:</label>
        <input id="first" name="first" class="form-control" type="text" value="{{editTeam.member.first}}">
    </div>
    <div class="form-group">
        <label for="last">Last Name</label>
        <input id="last" name="last" class="form-control" type="text" value="{{editTeam.member.last}}">
    </div>
    <button type="submit" class="btn">Go!</button>
</form>
{{/partial}}

{{> layout.hbs}}